body{
	background-color:#ddd;
}

textarea.comm{
	width:80%;
	height:40px;
}

button.comm{
	width:100px;
	height:30px;
	background-color:rgb(150,150,150);
	color:rgb(256,256,256);
	font-family:areal;
	font-weight:400;
	cursor:pointer;
}
div.comm{
	width:80%;
	padding:2px;
	background-color:rgb(150,150,150)
}