*{
  margin:0;
  padding:0;
}

.dropbtn {
  background-color: inherit;
  color: #c0c0c0;
  padding:7px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #10ac84;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color:#f8f8ff;
}
/* search_box */
.search_box{
  position: absolute;
  left:50%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search_btn{
  position: inherit;
  float: left;
  color: #10ac84;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
}

.search_txt{
  border: none;
  background: none;
  outline: none;
  float:left;
  padding: 0;
  color: White;
  font-size: 16px;
  transition: 0.4s;
  line-height: 25px;
  width: 380px;
  margin-bottom: 5px;
  margin-left: 50px;
}

.log_sign button{
  color: #10ac84;
  display: inline;
  border: none;
  background: none;
  margin-left: 6px;
  padding: 8px;
}
.log_sign:hover{background-color: #2c3539;}
